<%-include('partials/Encabezado.html');%>
    
    <form action="index" method="post">
        <br>
        <div class="container">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Numero Recibo</label>
                <div class="col-sm-10">
                    <input type="text" name="nRecibo" id="nRecibo" required="true">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" name="Nombre" id="Nombre" required="true">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Domicilio</label>
                <div class="col-sm-10">
                    <input type="text" name="Domicilio" id="Domicilio" required="true">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Tipos de servicio</label>
                <div class="col-sm-10">
                    <select name="tServicio" id="tServicio">
                        <option value="1">Domicilio</option>
                        <option value="2">Comercial</option>
                        <option value="3">Industrial</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Kilowatts Consumidos</label>
                <div class="col-sm-10">
                    <input type="text" name="consumido" id="consumido" required="true">
                </div>
            </div>
            <br>
            <hr>
            <div class="form-group row">
                <center>
                    <button type="submit">Enviar información</button>
                    <button type="reset">Limpiar</button>
                </center>
            </div>
        </div>

        
        <br>
        <%-include('partials/piePagina.html');%>
    </form>
</body>
</html>