<%-include('partials/Encabezado.html');%>
    <form action="index.html" method="post">
        <%
            let subt = 0;
            let impuesto = 0.16;
            let descuento = 0;
            let subtI = 0;
            let total = 0;
            let cImpuesto= 0;
            if(tServicio==1){
                if(Number(consumido) <= 1000){
                    subt =(Number(consumido) * 1.08);
                    descuento = (Number(subt) * 0.10);
                    cImpuesto = (Number(subt) * impuesto);
                    subtI = (Number(subt) + Number(cImpuesto));
                    total = (Number(subtI) - descuento);
                }
                if(Number(consumido) > 1000 && Number(consumido) <= 10000){
                    subt =(Number(consumido) * 1.08);
                    descuento = (Number(subt) * 0.20);
                    cImpuesto = (Number(subt) * impuesto);
                    subtI = (Number(subt) + Number(cImpuesto));
                    total = (Number(subtI) - descuento);
                }
                if(Number(consumido) > 10000){
                    subt =(Number(consumido) * 1.08);
                    descuento = (Number(subt) * 0.50);
                    cImpuesto = (Number(subt) * impuesto);
                    subtI = (Number(subt) + Number(cImpuesto));
                    total = (Number(subtI) - descuento);
                }
            }if(tServicio==2){
                if(Number(consumido) <= 1000){
                    subt =(Number(consumido) * 2.5);
                    descuento = (Number(subt) * 0.10);
                    cImpuesto = (Number(subt) * impuesto);
                    subtI = (Number(subt) + Number(cImpuesto));
                    total = (Number(subtI) - descuento);
                }
                if(Number(consumido) > 1000 && Number(consumido) <= 10000){
                    subt =(Number(consumido) * 2.5);
                    descuento = (Number(subt) * 0.20);
                    cImpuesto = (Number(subt) * impuesto);
                    subtI = (Number(subt) + Number(cImpuesto));
                    total = (Number(subtI) - descuento);
                }
                if(Number(consumido) > 10000){
                    subt =(Number(consumido) * 2.5);
                    descuento = (Number(subt) * 0.50);
                    cImpuesto = (Number(subt) * impuesto);
                    subtI = (Number(subt) + Number(cImpuesto));
                    total = (Number(subtI) - descuento);
                }
            }if(tServicio==3){
                if(Number(consumido) <= 1000){
                    subt =(Number(consumido) * 3);
                    descuento = (Number(subt) * 0.10);
                    cImpuesto = (Number(subt) * impuesto);
                    subtI = (Number(subt) + Number(cImpuesto));
                    total = (Number(subtI) - descuento);
                }
                if(Number(consumido) > 1000 && Number(consumido) <= 10000){
                    subt =(Number(consumido) * 3);
                    descuento = (Number(subt) * 0.20);
                    cImpuesto = (Number(subt) * impuesto);
                    subtI = (Number(subt) + Number(cImpuesto));
                    total = (Number(subtI) - descuento);
                }
                if(Number(consumido) > 10000){
                    subt =(Number(consumido) * 3);
                    descuento = (Number(subt) * 0.50);
                    cImpuesto = (Number(subt) * impuesto);
                    subtI = (Number(subt) + Number(cImpuesto));
                    total = (Number(subtI) - descuento);
                }
            }
    
        %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de Servicio</th>
                <th scope="col">Kilowatts Consumidos</th>
                <th scope="col">Costo por Kilowatts</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><%=Nombre%></th>
                <%
                if(tServicio==1){
                    %>
                    <td>Domicilio</td>
                   <%     
                }
                if(tServicio==2){
                    %>
                    <td>Comercial</td>
                   <%     
                }
                if(tServicio==3){
                    %>
                    <td>Industrial</td>
                   <%     
                }
                %>
                <td><%=consumido%></td>
                <%
                if(tServicio==1){
                    %>
                    <td>1.08</td>
                   <%     
                }
                if(tServicio==2){
                    %>
                    <td>2.5</td>
                   <%     
                }
                if(tServicio==3){
                    %>
                    <td>3.0</td>
                   <%     
                }
                %>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>subtotal:</td>
                <td><%=subt%></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>Impuesto:</td>
                <td><%=cImpuesto%></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>Descuento:</td>
                <td><%=descuento%></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <th>Total a pagar:</th>
                <th><%=total%></th>
              </tr>
            </tbody>
          </table>
          <br>
          <%-include('partials/piePagina.html');%>
    </form>
</body>
</html>