header{
    padding: 50px;
    background-color: black;
    text-align: center;
    color: white;
}

.navb{
    background-color: #333;
    flex-wrap: nowrap;
    margin: 0px;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    width: 90%;
}
.elemento{
    width: 100%;
    text-align: center;
}

.elemento-seleccionado{
    background: rgb(109, 109, 109);
}

.elemento:hover{
    background: rgb(168, 168, 168);
    transition: 0.5s;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

@media screen and (max-width: 700px){
    nav, nav a, .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media screen and (max-width: 700px){
    .contenido_productos{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
    }
    
}

.parrafo{
    text-align: center;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}
form{
    background-color: khaki;
}
.container{
    text-align: left;
}
